.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 389px;
    height: 425px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    opacity: 1;
    box-shadow: 0px 5px 15px #00000029;
}
.pageSwitch{
    display: flex;
    justify-content: space-between;
    width: 252px;
    position: relative;
    top: 25px;
}
.textFullName{
    width: 252px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 30px;
}
.textEmailId{
    width: 252px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 30px;
    margin-top: 20px;
}
.textPasswordd{
    width: 252px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 30px;
    margin-top: 20px;
}
.textMobile{
    width: 252px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 30px;
    margin-top: 20px;
}
.signUpButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 252px;
    position: relative;
    top: 45px;
}
